doctype html
html(lang="en" ng-app="znote" ng-strict-di)
  head
    base(href="/")
    title(route-title)
    include shared/header
    include shared/head
  body
    double-bounce-spinner(preloader)
    div#ui-view(ui-view)
    include shared/footer
    include shared/foot