mixin script(type, src)
  script(type=type, src=src)

- var default_base = 'scripts/'
- var lib_base = 'lib/'
- var type = 'text/javascript'

//- +script(type, lib_base + 'jquery/dist/jquery.min.js')
//- +script(type, lib_base + 'velocity/velocity.min.js')
//- +script(type, lib_base + 'moment/min/moment-with-locales.min.js')
//- +script(type, lib_base + 'angular/angular.js')
//- +script(type, lib_base + 'lumx/dist/lumx.min.js')
//- +script(type, lib_base + 'firebase/firebase.js')
//- +script(type, lib_base + 'angularfire/dist/angularfire.min.js')
//- +script(type, lib_base + 'angular-ui-router/release/angular-ui-router.js')
//- +script(type, lib_base + 'angular-bootstrap/ui-bootstrap.min.js')
//- +script(type, lib_base + 'moment/min/moment.min.js')
//- +script(type, lib_base + 'lodash/dist/lodash.min.js')
//- +script(type, lib_base + 'ngstorage/ngStorage.min.js')
//- +script(type, lib_base + 'trix/dist/trix.js')
//- +script(type, lib_base + 'angular-trix/dist/angular-trix.min.js')
//- +script(type, lib_base + 'angular-sanitize/angular-sanitize.min.js')
//- +script(type, lib_base + 'angular-loading-bar/build/loading-bar.min.js')
//- +script(type, lib_base + 'angular-animate/angular-animate.min.js')
//- +script(type, lib_base + 'angular-clipboard/angular-clipboard.js')
+script(type, default_base + 'vendor.min.js')
+script(type, default_base + 'index.js')