::-webkit-scrollbar
  :display none

html
  :overflow-y auto
  :background-color #fafafa

body
  :margin 0
  :padding 0
  :height 100%
  :width 100%
  :color $white
  :font 13px $defaultFF

.sugg_content
  :height auto
  :padding 6px !important

.sugg-list
  :margin-top -2px !important

.tabs
  :width 50%
  :margin 0 auto

.bgc-white
  :background-color rgba(255, 255, 255, 0.31) !important

.sugg-content-card
  :display inline-block
  :width 240px
  :float left
  :box-shadow 0 2px 1px rgba(0, 0, 0, 0.08)
  :position relative
  :margin 10px

.view-connector
  :padding 15px 15px 80px
  :color rgba(0, 0, 0, .87)

.four0four
  :color $gray80
  :display flex
  :align-items center
  :justify-content center
  :height 100vh
  :text-align center

  h1
    :font-size 80px

img.img-round
  :border-radius 50%

body[class^='no-scroll-dialog']
  :overflow hidden
  :position relative !important
  :top 0 !important
