.text-left
  :text-align left !important

.text-right
  :text-align right !important

.text-center
  :text-align center !important

.text-justify
  :text-align justify !important

.text-muted
  :color $darkGrayishBlue
  :margin 0 0 9.5px

.italic
  :font-style italic

.text-flex-center
  :justify-content center

.no-pd
  :padding 0 !important

hr
  :width 50%
  :margin 0 auto

pre
  :background-color rgba(217, 217, 217, 0.34)

.deactivate
  a
    :color rgba(255, 0, 0, 0.55)
    &:hover
      :background-color rgba(255, 0, 0, 0.55) !important
      :color $white
    i.mdi.mdi-account-remove
      :color inherit

.hidden
  :display none !important
  :visibility hidden !important

.white
  :background-color $white !important

.blue
  :background-color #80d8ff !important

.red
  :background-color rgb(255, 138, 128) !important

.orange
  :background-color rgb(255, 209, 128) !important

.yellow
  :background-color rgb(255, 255, 141) !important

.grey
  :background-color rgb(207, 216, 220) !important

.teal
  :background-color rgb(167, 255, 235) !important

.green
  :background-color rgb(204, 255, 144) !important

.tooltip
  :z-index 3000 !important

// background: 0 0;
// border: 0;
// box-shadow: 0 0 0 2px #58728a;
// border-radius: 30px;
// color: #fff

//font-size: 2.2rem;
//padding-left: 2.4rem;
//padding-right: 2.4rem;
//height: 60px;
//margin: 0