// imports
// -------------------------
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700)

// fonts
// -------------------------
$allfontface: 'Helvetica Neue', Helvetica,'Open Sans', sans-serif, serif
$helvetica-family: 'Helvetica Neue', Helvetica
$serif-family: sans-serif, serif

// Accent Colors
// -------------------------
$shipGray: #3F3F42
$alabaster: #FCFCFC
$alpha: .4
$toryBlue: #0F5AAA
$pictonBlue: #32AEFF
$mahogany: #CD4343
$default: #FFFFEE

// Grays
// -------------------------
$black:   #000000
$gray10:  #303030
$gray20:  #4E4E4E
$gray30:  #666666
$gray40:  #767676
$gray50:  #999999
$gray60:  #B3B3B3
$gray70:  #DCDCDC
$gray80:  #E6E6E6
$gray90:  #F3F3F3
$white:   #FFFFFF
$white10: #EEEEEE
