body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000;
}

@media screen and (min-width: 1024px) {
  [flex-gutter="24"] {
    margin: 0;
  }
}

/**/
.znote_navcontainer nav {
  background-color: #FCFCFC;
  position: fixed;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  z-index: 1000;
}

.znote_navcontainer .bgc {
  background: #4EB9D2;
  box-shadow: 0 2px 5px rgba(0,0,0,.1); 
}

.znote_navcontainer nav>div {
  padding: 5px 22px;
}

.znote_navcontainer nav img {
  width: 90px;
  height: auto;
  float: left;
  padding: 2px;
  margin-top: 2px;
}

.znote-sidebar {
  float: right;
}
/**/

/**/
.znote_content {
  height: auto;
  padding: 6px!important;
}

.znote-list {
  margin-top: -2px !important;
}

.fab__actions--right {
  position: absolute !important;
  top: 6px !important;
  left: 40px !important;
}

.znote-icons-contain {
  margin-bottom: -36px;
  margin-left: 5px;
}

.list-row__secondary {
  position: relative;
  left: 35px;
  top: -30px;
}

.tabs {
  width: 50%;
  margin: 0 auto;
}

.bgc-white {
  background-color: rgba(255, 255, 255, 0.31)!important;
}

.znote-input textarea {
  position: relative;
  top: 0px;
  width: 100%;
  height: 46px;
  margin: 0 auto;
  padding: 6px;
  margin-bottom: 20px;
  box-shadow: none !important;
}

.znote-input {
  position: relative;
  top: 20px;
  width: 100%;
  margin: 0 auto;
  background: none !important;
  box-shadow: none !important;
}

.znote-input>textarea:focus {
  outline: none;
}

.znote-content-card {
  display: inline-block;
  width: 240px;
  float: left;
  box-shadow: 0 2px 1px rgba(0,0,0,0.08);
  position: relative;
  margin: 10px;
}

.znote-checkbox {
  position: relative;
  top: 10px;
  left: 10px;
}

.add-note {
  width: 100px;
  height: 100px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,.1); 
  margin: 0 auto;
  cursor: pointer;
  pointer-events: none;
  transition: background-color 0.218s,border 0.218s,box-shadow 0.218s;
}

.btn--black {
  background: #4EB9D2 !important;
}

.add-note p {
  text-align: center;
  padding: 40px 15px;
  font-size: 12px;
}

/**/

/**/
.footer {
  position: fixed;
  padding: 10px;
  background-color: #fff;
  right: 0;
  bottom: 0;
}

.footer p {
  color: #8C8C8C;
  font-size: 0.9em;
}

.footer p a {
  text-decoration: none;
  color: #B9CB41;
  -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
       -0-transition: 0.5s all;
          transition: 0.5s all;
}

.footer p a:hover {
  color: #8C8C8C;
}